.footer {
    color: #bbb;
    padding: 40px 0;
    margin-top: 120px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.container {
    padding: 0px 20px;
}

.column {
    flex: 1;
}

.title {
    font-size: 20px;
    margin-bottom: 20px;
}


.line {
    width: 60px;
    height: 2px;
    background-color:  #53c28b;
    margin-bottom: 20px;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.desc{
    font-size: 16px;
    font-weight: 400;
}

.list {
    list-style: none;
    padding: 0;
} 

.listText {
    margin-bottom: 10px;
} 

.footerBottom {
    background-color: #111;
    padding: 20px 0;
    margin-top: 20px;
}

.containerLast {
    display: flex;
    font-size: 16px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
} 